<div class = "outfits">
    <p></p>
</div>

<div class="outfit_text">
    <h3>All Outfits</h3>

    <ul>
    <%@outfits.each do |outfit|%>
        <li><%=link_to outfit.name, outfit_path(outfit)%> - <%=outfit.user.to_s%></li><br>
    <%end%>
    <ul>

    <%=link_to "Create an Outfit", new_outfit_path%>
</div>