<div class="new_account">
    <p></p>
</div>

<div class="new_account_text">
    <h3>Welcome to StyleX!  We're glad you're here!</h3>

    <p><b>To create your account, please provide the following information: </b></p>

    <%=render 'form'%>

    <%=link_to "Home", welcome_path%>
</div>